*{
	box-sizing: border-box;
}
.a{
	margin: 20px auto;
	background: url(../Je6V4qeltG.jpg);
	width: 1400px;
	height: 400px;
}
.f{
	padding: 50px;
	display: flex;
	justify-content: left;
	align-items: center;
}
.c{
	background: black;
	width: 200px;
	height: 300px;
	margin: 0 10px;
}
.c h2{
	padding: 60px 60px 0 0 ;
	text-align: right;
}
.d{
	background: pink;
	width: 150px;
	height: 70px;
	margin: 0 10px;
}
.b{
	background: #fff;
	width: 200px;
	height: 300px;
	margin: 0 10px;
}
h2{
	text-align: center;
}
p{
	padding: 50px 50px 50px 200px;
	text-align: right;
	display: none;
}
.b:hover{
	/*margin: 0 200px 0 10px;*/
	width: 350px;
	background: khaki;
}
.b:hover p{
	display: block;
}
